# 'user token' for SonarQube
SONAR_TOKEN="squ_XXXXXXXXXXXXXXXXXXXX"

# path to local code you want to scan
PROJECT_DIRECTORY=/home/computersystem/code/StudioGhiblisMovieMaker/app

# path to .properties file
PROPERTIES_FILEPATH=/home/computersystem/code/sonarqube/sonar-project.properties
